/GAMIL2.8_AMIP-GIGC_v9-02-new327/CCPL_dir/run/CCPL_logs/
/GAMIL2.8_AMIP-GIGC_v9-02-new327/run/atm_chem/
/gamil-new/GAMIL2.8_AMIP-GIGC-ccpl1/run/atm_chem/GIGC/data/
/gamil-new-bak/GAMIL2.8_AMIP-GIGC-ccpl1/run/atm_chem/GIGC/data/
/xml_file/
/FGOALS-g2_CMIP5_hist/
/GAMIL2.8_AMIP-GIGC_v9-02_bak/
/GAMIL2.8_AMIP-sole1/
/c-coupler-lib/
/gamil-new-bak/
/inputdata/
/model_platform1/
/model_platform_bak/
/ncl_draw/
/xml_file/
/GAMIL2.8_AMIP-GIGC_v9-02-new327/run/
