/GAMIL2.8_AMIP-GIGC_v9-02-new327/CCPL_dir/run/CCPL_logs/
/GAMIL2.8_AMIP-GIGC_v9-02-new327/run/atm_chem/
/gamil-new/GAMIL2.8_AMIP-GIGC-ccpl1/run/atm_chem/GIGC/data/
/gamil-new-bak/GAMIL2.8_AMIP-GIGC-ccpl1/run/atm_chem/GIGC/data/
